.btn-custom {
    padding: 12px 28px;
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: var(--font-family-primary);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
    letter-spacing: var(--btn-letter-spacing);
    box-shadow: var(--shadow-v) var(--shadow-h) var(--shadow-blur) var(--shadow-spread) var(--color-shadow);
    margin-right: 10px;
}

.btn-custom:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.5;
}