.links-panel {
    font-family: var(--font-family-primary);
    margin-bottom: 26px;
}

.link-panel-inactive {
    text-decoration: none;
    color: var(--color-blur);
}

.links-panel-active {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
}