.ListWorkouts {
  &_form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 20px;
  }
  &_checkboxs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &_inputs {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
  &_dropDown {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}