.container-custom {
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1100px) {
    /* [0; 1100] */
    .container-custom {
        width: 90%;
    }
}