.navbar-custom {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.navbar-middle-menu {
    display: flex;
}

.navbar-middle-menu {
    margin-right: 20px;
}

.navbar-right-menu {
    display: flex;
}

.navbar-right-menu {
    margin-right: 20px;
}