:root {
    /* 
    Red: rgba(255, 0, 0, 1)
    Vermilion: rgba(227, 66, 52, 1)
    Orange: rgba(255, 165, 0, 1)
    Amber: rgba(255, 191, 0, 1)
    Yellow: rgba(255, 255, 0, 1)
    Chartreuse: rgba(127, 255, 0, 1)
    Green: rgba(0, 128, 0, 1)
    Teal: rgba(0, 128, 128, 1)
    Blue: rgba(0, 0, 255, 1)
    Violet: rgba(127, 0, 255, 1)
    Purple: rgba(128, 0, 128, 1)
    Magenta: rgba(255, 0, 255, 1)
    */
    --color-white: rgba(250, 250, 250, 1);
    --color-black: rgba(30, 30, 30, .9);
    --color-secondary: rgb(137, 147, 154);
    --color-blur: rgba(30, 30, 30, .6);
    --color-primary: rgba(17, 80, 132, 0.9);
    --color-primary-very-light: rgba(17, 80, 132, 0);
    --color-border: rgba(17, 80, 132, 1);
    --color-shadow: rgba(7, 32, 53, .5);
    --color-warning: rgba(242, 195, 65, 0.9);
    --color-success: rgba(0, 200, 0, .9);
    --color-selected: rgba(31, 136, 222, 0.1);
    --color-unselected: rgba(30, 30, 30, .1);
    --color-accent: rgb(85, 168, 236);

    --font-family-primary: 'Work Sans', sans-serif;
    --font-family-secondary: 'Merriweather', sans-serif;

    --shadow-v: 1px;
    --shadow-h: 1px;
    --shadow-blur: 1px;
    --shadow-spread: 0px;

    --border-radius: 3px;
    --border-width: 1px;

    --transition-time: 0.5s;
}