:root {
    /* Colors */
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f7f7f7;
    --hover-color: #e0e0e0;
    --warning-color: #e74c3c;
    --success-color: #27ae60;
    /* Fonts */
    --font-size: 10px;
    --font-weight: bold;
    --font-family: 'Roboto', sans-serif

    /* Paddings */

    /* Margins */

    /* Border radius */

    /* Border width */

    /*  */
}

