/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .active {
    display: flex;
    flex-direction: column;
  }
  
  .open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .open:nth-child(2) {
    opacity: 0;
  }
  
  .open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-toggle {
      display: flex;
    }
  }
   */